
<section class="pricing-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">{{c.Title1}}</div>
				<h2>{{c.Title2}}</h2>
			</div>

			<div class="row clearfix">

				<!-- Price Block -->
				<div class="price-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<h3>{{c.H1}}</h3>
						<div class="text">{{c.T1|linebreaks}}</div>
						<div class="price">{{c.P1}}<span>{{c.U1}}</span></div>
						<ul class="price-list">
							<li>{{c.Item1_1}}</li>
							<li>{{c.Item1_2}}</li>
							<li>{{c.Item1_3}}</li>
							<li>{{c.Item1_4}}</li>
						</ul>
						<div class="btn-box">
							<a href="{% url c.REF1 %}" class="theme-btn btn-style-one"><span class="txt">{{c.B1}}</span></a>
						</div>
					</div>
				</div>

				<div class="price-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<h3>{{c.H2}}</h3>
						<div class="text">{{c.T2|linebreaks}}</div>
						<div class="price">{{c.P2}}<span>{{c.U2}}</span></div>
						<ul class="price-list">
							<li>{{c.Item2_1}}</li>
							<li>{{c.Item2_2}}</li>
							<li>{{c.Item2_3}}</li>
							<li>{{c.Item2_4}}</li>
						</ul>
						<div class="btn-box">
							<a href="{% url c.REF2 %}" class="theme-btn btn-style-one"><span class="txt">{{c.B2}}</span></a>
						</div>
					</div>
				</div>

				<div class="price-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<h3>{{c.H3}}</h3>
						<div class="text">{{c.T3|linebreaks}}</div>
						<div class="price">{{c.P3}}<span>{{c.U3}}</span></div>
						<ul class="price-list">
							<li>{{c.Item3_1}}</li>
							<li>{{c.Item3_2}}</li>
							<li>{{c.Item3_3}}</li>
							<li>{{c.Item3_4}}</li>
						</ul>
						<div class="btn-box">
							<a href="{% url c.REF3 %}" class="theme-btn btn-style-one"><span class="txt">{{c.B3}}</span></a>
						</div>
					</div>
				</div>



			</div>

		</div>
	</section>