{% load static %}

<section class="news-section-three">
		<div class="auto-container" >
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">{{c.Header}}</div>
				<h2>{{c.Title}}</h2>
			</div>
			<div class="three-item-carousel owl-carousel owl-theme">

				<!-- News Block Three -->
				<div class="news-block-three">
					<div class="inner-box">
						<div class="image">
							<a href="{% url c.REF1 %}"><img src="{{ MEDIA_URL }}{{c.IMG1}}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="content">
								<div class="icon-box">
									<span class="icon flaticon-coding-1"></span>
								</div>
								<h4><a href="{% url c.REF1 %}">{{c.H1}}</a></h4>
								<div class="text justify">{{c.T1}}</div>
								<a class="read-more" href="{% url c.REF1 %}">{{c.B1}} <span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
							</div>
						</div>
					</div>
				</div>

				<!-- News Block Three -->
				<div class="news-block-three style-two">
					<div class="inner-box">
						<div class="lower-content">
							<div class="content">
								<div class="icon-box">
									<span class="icon flaticon-mobile-app"></span>
								</div>
								<h4><a href="{% url c.REF2 %}">{{c.H2}}</a></h4>
								<div class="text justify">{{c.T2}}</div>
								<a class="read-more" href="{% url c.REF2 %}">{{c.B2}} <span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
							</div>
						</div>
						<div class="image">
							<a href="{% url c.REF2 %}"><img src="{{ MEDIA_URL }}{{c.IMG2}}" alt="" /></a>
						</div>
					</div>
				</div>

				<!-- News Block Three -->
				<div class="news-block-three">
					<div class="inner-box">
						<div class="image">
							<a href="{% url c.REF3 %}"><img src="{{ MEDIA_URL }}{{c.IMG3}}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="content">
								<div class="icon-box">
									<span class="icon flaticon-computer"></span>
								</div>
								<h4><a href="{% url c.REF3 %}">{{c.H3}}</a></h4>
								<div class="text justify">{{c.T3}}</div>
								<a class="read-more" href="{% url c.REF3 %}">{{c.B3}} <span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
							</div>
						</div>
					</div>
				</div>

				<!-- News Block Three -->
				<div class="news-block-three">
					<div class="inner-box">
						<div class="image">
							<a href="{% url c.REF4 %}"><img src="{{ MEDIA_URL }}{{c.IMG4}}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="content">
								<div class="icon-box">
									<span class="icon flaticon-coding-1"></span>
								</div>
								<h4><a href="{% url c.REF4 %}">{{c.H4}}</a></h4>
								<div class="text justify">{{c.T4}}</div>
								<a class="read-more" href="{% url c.REF4 %}">{{c.B4}} <span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
							</div>
						</div>
					</div>
				</div>

				<!-- News Block Three -->
				<div class="news-block-three style-two">
					<div class="inner-box">
						<div class="lower-content">
							<div class="content">
								<div class="icon-box">
									<span class="icon flaticon-mobile-app"></span>
								</div>
								<h4><a href="{% url c.REF5 %}">{{C.H5}}</a></h4>
								<div class="text justify">{{c.T5}}</div>
								<a class="read-more" href="{% url c.REF5 %}">{{c.B5}} <span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
							</div>
						</div>
						<div class="image">
							<a href="{% url c.REF5 %}"><img src="{{ MEDIA_URL }}{{c.IMG5}}" alt="" /></a>
						</div>
					</div>
				</div>

				<!-- News Block Three -->
				<div class="news-block-three">
					<div class="inner-box">
						<div class="image">
							<a href="{% url c.REF6 %}"><img src="{{ MEDIA_URL }}{{c.IMG6}}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="content">
								<div class="icon-box">
									<span class="icon flaticon-computer"></span>
								</div>
								<h4><a href="{% url c.REF6 %}">{{c.H6}} </a></h4>
								<div class="text justify">{{c.T6}}</div>
								<a class="read-more" href="{% url c.REF6 %}">{{c.B6}}<span class="arrow flaticon-long-arrow-pointing-to-the-right"></span></a>
							</div>
						</div>
					</div>
				</div>

				<!-- News Block Three -->


			</div>
		</div>
	</section>