{% load static %}
<section class="news-section-two">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="title">وبلاگ ما</div>
				<h2>بررسی  <br> اخبار سایت </h2>
			</div>
			<div class="inner-container">

				<div class="single-item-carousel owl-carousel owl-theme">

					<!-- News Block Two -->
					<div class="news-block-two">
						<div class="inner-box">
							<div class="row clearfix">
								<!-- Content Column -->
								<div class="content-column col-lg-5 col-md-12 col-sm-12">
									<div class="inner-column">
										<h4><a href="news-detail.html">بهترین فناوری راه حل فناوری اطلاعات جهان را تعریف کنید</a></h4>
										<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است  بوده است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است  بوده است </div>
										<ul class="post-meta">
											<li><span class="icon flaticon-comment"></span>تعداد 3 نظر </li>
											<li><span class="icon flaticon-user"></span>ادمین </li>
										</ul>
										<a href="contact.html" class="theme-btn btn-style-three"><span class="txt">ادامه مطلب </span></a>
									</div>
								</div>
								<!-- Image Column -->
								<div class="image-column col-lg-7 col-md-12 col-sm-12">
									<div class="inner-column">
										<div class="post-date">22 <span>خرداد </span></div>
										<div class="image">
											<a href="news-detail.html"><img src="{% static 'images/resource/news-4.jpg' %}" alt="" /></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- News Block Two -->
					<div class="news-block-two">
						<div class="inner-box">
							<div class="row clearfix">
								<!-- Content Column -->
								<div class="content-column col-lg-5 col-md-12 col-sm-12">
									<div class="inner-column">
										<h4><a href="news-detail.html">بهترین فناوری راه حل فناوری اطلاعات جهان را تعریف کنید</a></h4>
										<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است  بوده است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است  بوده است </div>
										<ul class="post-meta">
											<li><span class="icon flaticon-comment"></span>تعداد 3 نظر </li>
											<li><span class="icon flaticon-user"></span>ادمین </li>
										</ul>
										<a href="contact.html" class="theme-btn btn-style-three"><span class="txt">ادامه مطلب </span></a>
									</div>
								</div>
								<!-- Image Column -->
								<div class="image-column col-lg-7 col-md-12 col-sm-12">
									<div class="inner-column">
										<div class="post-date">22 <span>خرداد </span></div>
										<div class="image">
											<a href="news-detail.html"><img src="{% static 'images/resource/news-4.jpg' %}" alt="" /></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- News Block Two -->
					<div class="news-block-two">
						<div class="inner-box">
							<div class="row clearfix">
								<!-- Content Column -->
								<div class="content-column col-lg-5 col-md-12 col-sm-12">
									<div class="inner-column">
										<h4><a href="news-detail.html">بهترین فناوری راه حل فناوری اطلاعات جهان را تعریف کنید</a></h4>
										<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است  بوده است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است  بوده است </div>
										<ul class="post-meta">
											<li><span class="icon flaticon-comment"></span>تعداد 3 نظر </li>
											<li><span class="icon flaticon-user"></span>ادمین </li>
										</ul>
										<a href="contact.html" class="theme-btn btn-style-three"><span class="txt">ادامه مطلب </span></a>
									</div>
								</div>
								<!-- Image Column -->
								<div class="image-column col-lg-7 col-md-12 col-sm-12">
									<div class="inner-column">
										<div class="post-date">22 <span>خرداد </span></div>
										<div class="image">
											<a href="news-detail.html"><img src="{% static 'images/resource/news-4.jpg' %}" alt="" /></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</section>