{% load static %}

<link href="{% static 'Dashboard/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
<link href="{% static 'Dashboard/plugins/web-fonts/icons.css' %}" rel="stylesheet"/>
<link href="{% static 'Dashboard/plugins/web-fonts/font-awesome/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'Dashboard/plugins/web-fonts/plugin.css' %}" rel="stylesheet"/>
<link href="{% static 'Dashboard/css-rtl/style/style.css' %}" rel="stylesheet">
<link href="{% static 'Dashboard/css-rtl/skins.css' %}" rel="stylesheet">
<link href="{% static 'Dashboard/css-rtl/dark-style.css' %}" rel="stylesheet">
<link href="{% static 'Dashboard/css-rtl/colors/default.css' %}" rel="stylesheet">
<link id="theme" rel="stylesheet" type="text/css" media="all"
      href="{% static 'Dashboard/css-rtl/colors/color.css' %}">
<link href="{% static 'Dashboard/plugins/select2/css/select2.min.css' %}" rel="stylesheet">
<link href="{% static 'Dashboard/plugins/spectrum-colorpicker/spectrum.css' %}" rel="stylesheet">
<link href="{% static 'Dashboard/plugins/ion-rangeslider/css/ion.rangeSlider.css' %}" rel="stylesheet">
<link href="{% static 'Dashboard/plugins/ion-rangeslider/css/ion.rangeSlider.skinFlat.css' %}" rel="stylesheet">
<link href="{% static 'Dashboard/css-rtl/sidemenu/sidemenu.css' %}" rel="stylesheet">
<link href="{% static 'Dashboard/switcher/css/switcher-rtl.css' %}" rel="stylesheet">
<link href="{% static 'Dashboard/switcher/demo.css' %}" rel="stylesheet">