{% load static %}
<div class="main-header side-header sticky">
		<div class="container-fluid">
			<div class="main-header-right">
				<a class="main-header-menu-icon" href="#" id="mainSidebarToggle"><span></span></a>
			</div>
			<div class="main-header-center">
				<div class="responsive-logo">
					<a href="index.html"><img src="{% static 'Dashboard/img/brand/logo.png' %}" class="mobile-logo" alt="لوگو"></a>
					<a href="index.html"><img src="{% static 'Dashboard/img/brand/logo-light.png' %}" class="mobile-logo-dark" alt="لوگو"></a>
				</div>
			</div>
		</div>
	</div>