{% load static %}
<div class="sidemenu-logo">
    <a class="main-logo" href="#">
        <img src="{% static 'Dashboard/img/brand/drkarbin.png' %}" class="header-brand-img desktop-logo"
             alt="لوگو">
        <img src="{% static 'Dashboard/img/brand/icon-light.png' %}" class="header-brand-img icon-logo"
             alt="لوگو">
        <img src="{% static 'Dashboard/img/brand/logo.png' %}" class="header-brand-img desktop-logo theme-logo"
             alt="لوگو">
        <img src="{% static 'Dashboard/img/brand/icon.png' %}" class="header-brand-img icon-logo theme-logo"
             alt="لوگو">
    </a>
</div>