
<li class="nav-item">
   <li class="nav-item">
    <a class="nav-link" href="{% url 'Page4_About1_VAL001' %}"><span class="shape1"></span><span class="shape2"></span><i
            class="ti-wallet sidemenu-icon"></i><span class="sidemenu-label">صفحات نمونه</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'uploadimages' %}"><span class="shape1"></span><span class="shape2"></span><i
            class="fe fe-aperture sidemenu-icon"></i><span class="sidemenu-label">تصاویر</span></a>
</li>
<li class="nav-item">
   <li class="nav-item">
    <a class="nav-link" href="{% url 'P00001_Header1_VAL001' %}"><span class="shape1"></span><span class="shape2"></span><i
            class="ti-wallet sidemenu-icon"></i><span class="sidemenu-label">صفحات سایت</span></a>
</li>

