{% load static %}

<script src="{% static 'Dashboard/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'Dashboard/plugins/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'Dashboard/plugins/bootstrap/js/bootstrap-rtl.js' %}"></script>
<script src="{% static 'Dashboard/plugins/perfect-scrollbar/perfect-scrollbar.min-rtl.js' %}"></script>
<script src="{% static 'Dashboard/plugins/sidemenu/sidemenu-rtl.js' %}"></script>
<script src="{% static 'Dashboard/plugins/sidebar/sidebar-rtl.js' %}"></script>
<script src="{% static 'Dashboard/plugins/select2/js/select2.min.js' %}"></script>
<script src="{% static 'Dashboard/js/select2.js' %}"></script>
<script src="{% static 'Dashboard/plugins/jquery-ui/ui/widgets/datepicker.js' %}"></script>
<script src="{% static 'Dashboard/plugins/jquery.maskedinput/jquery.maskedinput.js' %}"></script>
<script src="{% static 'Dashboard/plugins/spectrum-colorpicker/spectrum.js' %}"></script>
<script src="{% static 'Dashboard/plugins/ion-rangeslider/js/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'Dashboard/js/form-elements.js' %}"></script>
<script src="{% static 'Dashboard/js/sticky.js' %}"></script>
<script src="{% static 'Dashboard/js/custom.js' %}"></script>
<script src="{% static 'Dashboard/switcher/js/switcher-rtl.js' %}"></script>