{% load static %}


  <section class="banner-section-three">
		<div class="main-slider-carousel owl-carousel owl-theme">

            <div class="slide" style="background-image: url({{ MEDIA_URL }}{{c.IMG1}})">
				<div class="color-layer"></div>
				<div class="pattern-layer-one" style="background-image: url({{ MEDIA_URL }}{{c.PATTERN1}})"></div>
				<div class="auto-container">
					<!-- Content Column -->
					<div class="content-column clearfix">
						<div class="inner-column">
							<h1>{{c.H1}}</h1>
							<div class="text justify">{{c.TXT1|linebreaks}}</div>
							<div class="button-box">
								<a href="{% url c.REF1 %}" class="theme-btn btn-style-one"><span class="txt">{{c.B1}}</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="slide" style="background-image: url({{ MEDIA_URL }}{{c.IMG2}})">
				<div class="color-layer"></div>
				<div class="pattern-layer-one" style="background-image: url({{ MEDIA_URL }}{{c.PATTERN2}})"></div>
				<div class="auto-container">
					<!-- Content Column -->
					<div class="content-column clearfix">
						<div class="inner-column">
							<h1>{{c.H2}}</h1>
							<div class="text justify">{{c.TXT2|linebreaks}}</div>
							<div class="button-box">
								<a href="{% url c.REF2 %}" class="theme-btn btn-style-one"><span class="txt">{{c.B2}}</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="slide" style="background-image: url({{ MEDIA_URL }}{{c.IMG3}})">
				<div class="color-layer"></div>
				<div class="pattern-layer-one" style="background-image: url({{ MEDIA_URL }}{{c.PATTERN3}})"></div>
				<div class="auto-container">
					<!-- Content Column -->
					<div class="content-column clearfix">
						<div class="inner-column">
							<h1>{{c.H3}}</h1>
							<div class="text justify">{{c.TXT3|linebreaks}}</div>
							<div class="button-box">
								<a href="{% url c.REF3 %}" class="theme-btn btn-style-one"><span class="txt">{{c.B3}}</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>