{% load static %}

<section class="sponsors-section style-two">
    <div class="auto-container">

        <div class="carousel-outer">
            <!--Sponsors Slider-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li>
                    <div class="image-box"><a href="{{c.REF1}}"><img src="{{ MEDIA_URL }}{{c.IMG1}}" alt=""></a></div>
                </li>
                <li>
                    <div class="image-box"><a href="{{c.REF2}}"><img src="{{ MEDIA_URL }}{{c.IMG2}}" alt=""></a></div>
                </li>
                <li>
                    <div class="image-box"><a href="{{c.REF3}}"><img src="{{ MEDIA_URL }}{{c.IMG3}}" alt=""></a></div>
                </li>
                <li>
                    <div class="image-box"><a href="{{c.REF4}}"><img src="{{ MEDIA_URL }}{{c.IMG4}}" alt=""></a></div>
                </li>
                <li>
                    <div class="image-box"><a href="{{c.REF5}}"><img src="{{ MEDIA_URL }}{{c.IMG5}}" alt=""></a></div>
                </li>
                <li>
                    <div class="image-box"><a href="{{c.REF6}}"><img src="{{ MEDIA_URL }}{{c.IMG6}}" alt=""></a></div>
                </li>
                <li>
                    <div class="image-box"><a href="{{c.REF7}}"><img src="{{ MEDIA_URL }}{{c.IMG7}}" alt=""></a></div>
                </li>
                <li>
                    <div class="image-box"><a href="{{c.REF8}}"><img src="{{ MEDIA_URL }}{{c.IMG8}}" alt=""></a></div>
                </li>

            </ul>
        </div>

    </div>
</section>
