<div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">


                <div class="content-side right-sidebar col-lg-12 col-md-12 col-sm-12">
                	<div class="services-detail">
						<div class="inner-box">
							<h3>{{c.H1}}</h3>
							<h6 class="justify">{{c.T1|linebreaks}}</h6>
							<h3>{{c.H2}}</h3>
							<h6 class="justify">{{c.T2|linebreaks}}</h6>
							<h3>{{c.H3}}</h3>
							<h6 class="justify">{{c.T3|linebreaks}}</h6>
							<h3>{{c.H4}}</h3>
							<h6 class="justify">{{c.T4|linebreaks}}</h6>
							<h3>{{c.H5}}</h3>
							<h6 class="justify">{{c.T5|linebreaks}}</h6>
							<h3>{{c.H6}}</h3>
							<h6 class="justify">{{c.T6|linebreaks}}</h6>
							<h3>{{c.H7}}</h3>
							<h6 class="justify">{{c.T7|linebreaks}}</h6>
							<h3>{{c.H8}}</h3>
							<h6 class="justify">{{c.T8|linebreaks}}</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
