{% load static %}
<section >
		<div class="auto-container">
			<!-- Sec Title -->

			<div class="row clearfix">

				<!-- Testimonial Block -->
				<div class="testimonial-block col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box" style="background-image: url({% static 'images/background/pattern-4.png'%})">
						<div class="upper-box">
							<div class="image">
                                    <img src="{{ MEDIA_URL }}{{c.IMG1}}" alt=""/>
                            </div>
							<h4>{{c.Name1}} </h4>
							<div class="designation">{{c.T1}}</div>
						</div>
						<div class="justify text">{{c.TEXT1|linebreaks}}</div>
					</div>
				</div>

			</div>

		</div>
	</section>