{% load static %}
<section class="testimonial-page-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">{{c.H1}}</div>
				<h2>{{c.H2}}</h2>
				<div class="text justify">{{c.Title1|linebreaks}}</div>
			</div>

			<div class="row clearfix">

				<!-- Testimonial Block -->
				<div class="testimonial-block col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box" style="background-image: url({% static 'images/background/pattern-4.png'%})">
						<div class="upper-box">
							<div class="image">
                                    <a href="{% url c.REF1 %}"><img src="{{ MEDIA_URL }}{{c.IMG1}}" alt=""/></a>
                            </div>
							<h4>{{c.Name1}} </h4>
							<div class="designation">{{c.T1}}</div>
						</div>
						<div class="justify text">{{c.TEXT1|linebreaks}}</div>
					</div>
				</div>
				<div class="testimonial-block col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box" style="background-image: url({% static 'images/background/pattern-4.png'%})">
						<div class="upper-box">
							<div class="image">
                                    <a href="{% url c.REF2 %}"><img src="{{ MEDIA_URL }}{{c.IMG2}}" alt=""/></a>
                            </div>
							<h4>{{c.Name2}} </h4>
							<div class="designation">{{c.T2}}</div>
						</div>
						<div class="justify text">{{c.TEXT2|linebreaks}}</div>
					</div>
				</div>



			</div>

		</div>
	</section>