{% load static %}

<section class="technology-section" style="background-image: url({{ MEDIA_URL }}{{c.BGIMG}})" >
    <div class="pattern-layer-one" style="background-image: url({% static 'images/background/pattern-5.png'%})"></div>
    <div class="pattern-layer-two" style="background-image: url({% static 'images/background/pattern-6.png'%})"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Title Column -->
            <div class="title-column col-lg-5 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="sec-title light" style="width:300px">
                        <div class="title">{{c.H1}}</div>
                        <h2 class="justify" >{{c.H2|linebreaks}}</h2>
                    </div>
                </div>
            </div>
            <!-- Blocks Column -->
            <div class="blocks-column col-lg-7 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="row clearfix">

                        <!-- Technology Block -->
                        <div class="technology-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <a href="{% url c.REF1 %}" class="overlay-link"></a>
                                <div class="image">
                                    <a href="{% url c.REF1 %}"><img src="{{ MEDIA_URL }}{{c.IMG1}}" alt=""/></a>
                                </div>
                                <h6>{{c.Name1}}</h6>
                            </div>
                        </div>
                        <div class="technology-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <a href="{% url c.REF2 %}" class="overlay-link"></a>
                                <div class="image">
                                    <a href="{% url c.REF2 %}"><img src="{{ MEDIA_URL }}{{c.IMG2}}" alt=""/></a>
                                </div>
                                <h6>{{c.Name2}}</h6>
                            </div>
                        </div>
                        <div class="technology-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <a href="{% url c.REF3 %}" class="overlay-link"></a>
                                <div class="image">
                                    <a href="{% url c.REF3 %}"><img src="{{ MEDIA_URL }}{{c.IMG3}}" alt=""/></a>
                                </div>
                                <h6>{{c.Name3}}</h6>
                            </div>
                        </div>
                        <div class="technology-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <a href="{% url c.REF4 %}" class="overlay-link"></a>
                                <div class="image">
                                    <a href="{% url c.REF4 %}"><img src="{{ MEDIA_URL }}{{c.IMG4}}" alt=""/></a>
                                </div>
                                <h6>{{c.Name4}}</h6>
                            </div>
                        </div>
                        <div class="technology-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <a href="{% url c.REF5 %}" class="overlay-link"></a>
                                <div class="image">
                                    <a href="{% url c.REF5 %}"><img src="{{ MEDIA_URL }}{{c.IMG5}}" alt=""/></a>
                                </div>
                                <h6>{{c.Name5}}</h6>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>