{% load static %}
	<section class="sponsors-section style-three"
	style="background-image:
 url({% static 'images/background/333.jpg' %}); background-repeat: no-repeat;
background-size: 100% 100%; background-repeat: no-repeat; background-position: center;"
	>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="clearfix">
					<div class="pull-left">
						<div class="title">{{c.H1}}</div>
						<h2>{{c.H2}}</h2>
					</div>
					<div class="pull-right">
						<h4 class="justify">{{c.Title1|linebreaks}}</h4>
					</div>
				</div>
			</div>


		</div>
	</section>