
<section class="featured-section">
		<div class="auto-container">
			<div class="row clearfix">

				<!-- Featured Block Two -->
				<div class="feature-block-two col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms" style="background-image: url({{ MEDIA_URL }}{{c.c7}})">
						<div class="number">{{c.c1}}</div>
						<h4>{{c.c2}}</h4>
						<div class="text">{{c.c3}}</div>
					</div>
				</div>

				<!-- Featured Block Two -->
				<div class="feature-block-two col-lg-6 col-md-12 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms" style="background-image: url({{ MEDIA_URL }}{{c.c8}})">
						<div class="number">{{c.c4}}</div>
						<h4>{{c.c5}}</h4>
						<div class="text">{{c.c6}}</div>
					</div>
				</div>

			</div>
		</div>
	</section>