{%  extends 'home.html' %}
{% block content %}
{% load static %}
{% include 'components/Header/Header3.html' %}
{% include 'components/Services/Services3.html' %}
{% include 'components/News/News1.html' %}
{% include 'components/Title/Title1.html' %}
{% include 'components/Call to Action/Call to Action2.html' %}
{% include 'components/Cases/Cases2.html' %}
{% include 'components/Pricing/Pricing1.html' %}
{% include 'components/Blog/Blog3.html' %}
{% include 'components/Title/Title2.html' %}

{% endblock %}