{% load static %}
<section class="services-section margin-top">
		<div class="pattern-layer" style="background-image: url({% static 'images/background/pattern-2.png' %})"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title light centered">
				<div class="title">{{c.Title1}}</div>
				<h2>{{c.Title2}}</h2>
			</div>
			<div class="row clearfix">

				<!-- Service Block -->
				<div class="service-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="{% url c.REF1 %}"><img src="{{ MEDIA_URL }}{{c.IMG1}}" alt="" /></a>
						</div>
						<h5>{{c.H1}}</h5>
						<div class="text justify">{{c.T1|linebreaks}}</div>
						<a href="{% url c.REF1 %}" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
					</div>
				</div>

				<div class="service-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="{% url c.REF2 %}"><img src="{{ MEDIA_URL }}{{c.IMG2}}" alt="" /></a>
						</div>
						<h5>{{c.H2}}</h5>
						<div class="text justify">{{c.T2|linebreaks}}</div>
						<a href="{% url c.REF2 %}" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
					</div>
				</div>

				<div class="service-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="{% url c.REF3 %}"><img src="{{ MEDIA_URL }}{{c.IMG3}}" alt="" /></a>
						</div>
						<h5>{{c.H3}}</h5>
						<div class="text justify">{{c.T3|linebreaks}}</div>
						<a href="{% url c.REF3 %}" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
					</div>
				</div>

				<div class="service-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="{% url c.REF4 %}"><img src="{{ MEDIA_URL }}{{c.IMG4}}" alt="" /></a>
						</div>
						<h5>{{c.H4}}</h5>
						<div class="text justify">{{c.T4|linebreaks}}</div>
						<a href="{% url c.REF4 %}" class="arrow flaticon-long-arrow-pointing-to-the-right"></a>
					</div>
				</div>


			</div>
		</div>
	</section>