	<section class="counter-section" style="justify-content: center; ">
		<div class="auto-container" style="justify-content: center;">
			<div class="inner-container" style="justify-content: center;">
				<!-- Fact Counter -->
				<div class="fact-counter" >
					<div class="row clearfix" >

						<!-- Column -->
						<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
							<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="content">
									<div class="count-outer count-box">
										<span class="count-text" data-speed="3000" data-stop={{c.c1_VAL}}>0</span>+
									</div>
									<h4 class="counter-title">{{c.c1}}</h4>
								</div>
							</div>
						</div>

						<!-- Column -->
						<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
							<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
								<div class="content">
									<div class="count-outer count-box alternate">
										<span class="count-text" data-speed="5000" data-stop={{c.c2_VAL}}>0</span>+
									</div>
									<h4 class="counter-title">{{c.c2}}</h4>
								</div>
							</div>
						</div>

						<!-- Column -->
						<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
							<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
								<div class="content">
									<div class="count-outer count-box">
										<span class="count-text" data-speed="2000" data-stop={{c.c3_VAL}}>0</span>+
									</div>
									<h4 class="counter-title">{{c.c3}}</h4>
								</div>
							</div>
						</div>

						<!-- Column -->
						<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
							<div class="inner wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
								<div class="content">
									<div class="count-outer count-box">
										<span class="count-text" data-speed="3500" data-stop={{c.c4_VAL}}>0</span>+
									</div>
									<h4 class="counter-title">{{c.c4}}</h4>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>